@charset "UTF-8";
.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden {
  display: none; }

.container {
  width: 100%;
  display: table; }

.row {
  position: relative;
  width: 100%;
  display: table-row; }

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: table-cell;
  border-spacing: 0;
  border-collapse: collapse; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

div.tonline-mediaplayer .message-bar {
  background: rgba(0, 0, 0, 0.7);
  transition: all .2s ease;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 301;
  top: 25%;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  user-select: none; }

div.tonline-mediaplayer.playing-ad .clickjaqueline .touchlink-container {
  text-align: right;
  color: #fff;
  height: 100%;
  width: 100%; }

div.tonline-mediaplayer.playing-ad .ads-remaining-time-container {
  position: absolute;
  bottom: 36px;
  left: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 3px; }

div.tonline-mediaplayer.playing-ad .time-container {
  visibility: hidden; }

div.tonline-mediaplayer.playing-ad .controls .control-bar button:hover svg {
  color: #efbb35; }

div.tonline-mediaplayer.playing-ad .controls .control-bar button:hover,
div.tonline-mediaplayer.playing-ad .controls .control-bar button.active,
div.tonline-mediaplayer.playing-ad .controls .control-bar button svg:hover {
  color: #efbb35; }

div.tonline-mediaplayer.playing-ad .controls .duration .progress,
div.tonline-mediaplayer.playing-ad .controls .duration .scrubber {
  background-color: #efbb35; }

div.tonline-mediaplayer.playing-ad .controls .duration {
  background-color: rgba(239, 187, 53, 0.1);
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px); }
  div.tonline-mediaplayer.playing-ad .controls .duration:hover {
    height: 5px; }
    div.tonline-mediaplayer.playing-ad .controls .duration:hover .progress {
      height: 5px; }

div.tonline-mediaplayer.playing-ad .controls .control-bar button.settings svg,
div.tonline-mediaplayer.playing-ad .controls .control-bar button.settings:hover svg {
  color: #444; }

div.tonline-mediaplayer.playing-ad .controls .livestream-hint {
  display: none; }

div.tonline-mediaplayer .loading-spinner {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 201;
  display: flex;
  align-items: center;
  justify-content: center; }
  div.tonline-mediaplayer .loading-spinner .animation {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid rgba(226, 0, 116, 0.4);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: tonline-mediaplayer-loading-spin 2s linear infinite; }

@keyframes tonline-mediaplayer-loading-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*
Usage:
	@include target-ie11 {
		color: cyan;
	}
*/
div.tonline-mediaplayer .big-play-icon-container {
  cursor: pointer;
  table-layout: fixed;
  display: table;
  outline: none;
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate3d(0, 0, 1px);
  -webkit-transform: translate3d(0, 0, 1px);
  transition: opacity .5s ease; }
  div.tonline-mediaplayer .big-play-icon-container.visible {
    opacity: 1; }
  div.tonline-mediaplayer .big-play-icon-container .big-play-icon-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    div.tonline-mediaplayer .big-play-icon-container .big-play-icon-cell .big-play-icon {
      display: table-cell;
      border: 3px solid #fff;
      border-radius: 50%;
      background-color: rgba(65, 65, 65, 0.5);
      outline: none;
      display: inline-block;
      background-image: url("https://t-online.de/tv/player/tonline-mediaplayer/big-play-icon-wo-border.png");
      width: 64px;
      height: 64px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto; }
      div.tonline-mediaplayer .big-play-icon-container .big-play-icon-cell .big-play-icon.x96 {
        width: 96px;
        height: 96px; }
      div.tonline-mediaplayer .big-play-icon-container .big-play-icon-cell .big-play-icon.x128 {
        width: 128px;
        height: 128px; }

div.tonline-mediaplayer .controls {
  transition: all .2s ease;
  position: absolute;
  left: 0;
  width: 100%;
  height: 37px;
  z-index: 301;
  bottom: 0px; }
  div.tonline-mediaplayer .controls.minified {
    bottom: -35px; }
    div.tonline-mediaplayer .controls.minified .duration .progress {
      height: 2px; }
    div.tonline-mediaplayer .controls.minified .duration .scrubber {
      display: none !important; }
  div.tonline-mediaplayer .controls svg {
    fill: currentColor;
    color: #fff;
    height: 18px;
    width: 18px;
    display: block;
    margin: auto;
    padding: initial; }
    div.tonline-mediaplayer .controls svg.active, div.tonline-mediaplayer .controls svg:hover {
      fill: currentColor;
      color: #e20074; }
  div.tonline-mediaplayer .controls button.captions-on svg {
    color: #e20074; }
  div.tonline-mediaplayer .controls .livestream-hint {
    cursor: pointer;
    position: relative; }
    div.tonline-mediaplayer .controls .livestream-hint .livestream-text {
      color: #fff;
      top: -8px;
      left: 0;
      padding-left: 5px;
      font-size: 16px;
      position: absolute;
      font-weight: bold; }
    div.tonline-mediaplayer .controls .livestream-hint .livestream-bubble {
      top: -17px;
      left: -11px;
      position: absolute; }
      div.tonline-mediaplayer .controls .livestream-hint .livestream-bubble:before {
        display: inline-block;
        content: "●";
        color: #e20074;
        font-size: 25px; }
      div.tonline-mediaplayer .controls .livestream-hint .livestream-bubble.delayed:before {
        color: #333; }
  div.tonline-mediaplayer .controls .time-container {
    display: table-cell;
    color: #fff;
    padding-left: 16px;
    height: 32px;
    font-size: 12px;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }
    div.tonline-mediaplayer .controls .time-container .duration-livestream {
      cursor: pointer; }
  div.tonline-mediaplayer .controls .duration {
    cursor: pointer;
    width: 100%;
    background-color: rgba(226, 0, 116, 0.1);
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent; }
    div.tonline-mediaplayer .controls .duration .progress {
      height: 5px;
      outline: none;
      background: 0 0;
      background-color: #e20074;
      -webkit-appearance: none;
      border: 0;
      display: block;
      margin: 0;
      padding: 0;
      touch-action: manipulation; }
    div.tonline-mediaplayer .controls .duration .scrubber {
      position: absolute;
      height: 12px;
      width: 12px;
      margin-left: -5px;
      border-radius: 50%;
      background-color: #e20074;
      z-index: 1;
      pointer-events: none; }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        div.tonline-mediaplayer .controls .duration .scrubber {
          margin-top: -5px; } }
  div.tonline-mediaplayer .controls .control-bar {
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    position: initial;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0 none;
    height: 32px;
    width: 100%;
    text-align: left; }
    div.tonline-mediaplayer .controls .control-bar::-moz-focus-inner {
      border: 0; }
    div.tonline-mediaplayer .controls .control-bar .control-bar-left-buttons {
      float: left;
      width: 140px; }
    div.tonline-mediaplayer .controls .control-bar .control-bar-left-time {
      width: 80px;
      height: 32px;
      display: inline-block; }
    div.tonline-mediaplayer .controls .control-bar .control-bar-right-buttons {
      float: right;
      width: auto;
      text-align: right; }
    div.tonline-mediaplayer .controls .control-bar button {
      outline: none;
      cursor: pointer;
      color: #fff;
      border: 0 none;
      border-radius: 3px;
      width: 32px;
      height: 32px;
      text-align: center;
      overflow: hidden;
      background-color: transparent;
      transition: background-color .3s ease;
      margin: 0;
      padding: 0; }
      div.tonline-mediaplayer .controls .control-bar button.play, div.tonline-mediaplayer .controls .control-bar button.replay, div.tonline-mediaplayer .controls .control-bar button.pause, div.tonline-mediaplayer .controls .control-bar button.mute, div.tonline-mediaplayer .controls .control-bar button.unmute {
        float: left; }
      div.tonline-mediaplayer .controls .control-bar button::-moz-focus-inner {
        border: 0; }
      div.tonline-mediaplayer .controls .control-bar button.active, div.tonline-mediaplayer .controls .control-bar button:hover {
        color: #e20074; }
        div.tonline-mediaplayer .controls .control-bar button.active svg, div.tonline-mediaplayer .controls .control-bar button:hover svg {
          color: #e20074; }
    div.tonline-mediaplayer .controls .control-bar button.settings.active {
      color: #fff; }
      div.tonline-mediaplayer .controls .control-bar button.settings.active svg {
        color: #fff; }
    div.tonline-mediaplayer .controls .control-bar button.settings:hover {
      color: #e20074; }
      div.tonline-mediaplayer .controls .control-bar button.settings:hover svg {
        color: #e20074; }
    @media (max-width: 393px) {
      div.tonline-mediaplayer .controls .control-bar .volume-container {
        display: none !important; }
      div.tonline-mediaplayer .controls .control-bar .control-bar-left-buttons {
        width: 64px !important; } }
    @media (max-width: 300px) {
      div.tonline-mediaplayer .controls .control-bar .control-bar-left-time {
        display: none !important; } }
    div.tonline-mediaplayer .controls .control-bar .volume-container {
      display: inline-block;
      cursor: pointer;
      border: 0 none;
      margin: 3px;
      padding: 0;
      height: 32px;
      width: 64px;
      align-items: center;
      touch-action: manipulation;
      -webkit-appearance: none;
      outline: none; }
      div.tonline-mediaplayer .controls .control-bar .volume-container .volume {
        background-color: #4c4c4c;
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 10px 0 0 0;
        padding: 0;
        height: 5px;
        position: relative; }
        div.tonline-mediaplayer .controls .control-bar .volume-container .volume .slider {
          position: absolute;
          background-color: #fff;
          height: 5px;
          width: 100%; }
      div.tonline-mediaplayer .controls .control-bar .volume-container .scrubber {
        position: absolute;
        height: 12px;
        width: 12px;
        margin-top: -4px;
        margin-left: -5px;
        left: 100%;
        border-radius: 50%;
        background-color: #fff;
        pointer-events: none;
        opacity: 0;
        transition: opacity ease-in 0.1s; }
    div.tonline-mediaplayer .controls .control-bar .volume-container:hover .scrubber {
      opacity: 1; }
    @media (pointer: coarse) {
      div.tonline-mediaplayer .controls .control-bar .volume-container {
        display: none; } }

div.tonline-mediaplayer.livestream .controls .duration {
  height: 5px;
  pointer-events: none;
  background-color: transparent; }
  div.tonline-mediaplayer.livestream .controls .duration .progress {
    display: none; }
  div.tonline-mediaplayer.livestream .controls .duration .scrubber {
    display: none; }

div.tonline-mediaplayer .controls .control-bar .ui-options-box {
  transition: all 0.3s ease;
  position: absolute;
  bottom: 32px;
  right: 0;
  z-index: 302;
  overflow-y: auto;
  background-color: rgba(41, 41, 41, 0.9);
  border-radius: 3px;
  min-width: 170px; }
  div.tonline-mediaplayer .controls .control-bar .ui-options-box.hidden {
    display: none !important; }
  div.tonline-mediaplayer .controls .control-bar .ui-options-box .hidden {
    display: none !important; }
  div.tonline-mediaplayer .controls .control-bar .ui-options-box .active {
    color: #e20074; }
  div.tonline-mediaplayer .controls .control-bar .ui-options-box ul {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    padding: 0 0; }
    div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li {
      margin: 0;
      padding: 0; }
      div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li:before {
        content: initial; }
      div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.main-item,
      div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.sub-item {
        font-size: 12px;
        padding: 10px 10px;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: space-between;
        text-align: right; }
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.main-item .prev-arrow,
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.sub-item .prev-arrow {
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid #fff; }
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.main-item span,
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.sub-item span {
          display: flex; }
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.main-item:hover,
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.sub-item:hover {
          background-color: #555; }
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.main-item.selected,
        div.tonline-mediaplayer .controls .control-bar .ui-options-box ul li button.sub-item.selected {
          color: #e20074;
          font-weight: bold; }

div.tonline-mediaplayer video::-webkit-media-text-track-display {
  padding-bottom: 48px; }

div.tonline-mediaplayer {
  overflow: hidden;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%; }
  div.tonline-mediaplayer .containment {
    padding: 0;
    margin: 0;
    width: 100%; }
  div.tonline-mediaplayer.fullscreen {
    background-color: #000; }
  div.tonline-mediaplayer.fixed-ratio:before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0; }
  div.tonline-mediaplayer.ratio-4-3:before {
    padding-top: 75%; }
  div.tonline-mediaplayer.ratio-16-9:before {
    padding-top: 56.25%; }
  div.tonline-mediaplayer video.hover-preview {
    width: 20%;
    height: 20%;
    z-index: 301;
    position: absolute;
    bottom: 50px;
    opacity: 0;
    transition: opacity .5s ease; }
    div.tonline-mediaplayer video.hover-preview.fade-in {
      opacity: 1; }
  div.tonline-mediaplayer .posterimage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate3d(0, 0, 1px);
    -webkit-transform: translate3d(0, 0, 1px); }
    div.tonline-mediaplayer .posterimage img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: auto;
      display: block; }
  div.tonline-mediaplayer .clickjaqueline {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 300; }
  div.tonline-mediaplayer .hidden {
    display: none !important; }
  div.tonline-mediaplayer .invisible {
    visibility: hidden !important; }
  div.tonline-mediaplayer .stroke.black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  div.tonline-mediaplayer .stroke.white {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  div.tonline-mediaplayer video {
    display: block;
    width: 100%;
    max-width: 100%; }
